.chat-section {
  flex: 1;
  padding: 20px 20px 20px 0;
  max-width: 30%;
}

.chat-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }

.chat-box {
  height: 65vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.chat-message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.chat-message.bot {
  background-color: #ffedcdc1;
  margin-right: auto;
  margin-left: 10px;
}

.chat-message.user {
  background-color: #b7e9c3b7;
  text-align: left;
  margin-left: auto;
  margin-right: 10px;
}

.message-timestamp {
  color: #0079fa;
}

.message-timestamp button {
  color: #0079fa;
  background: none;
  border: none;
  padding: 0 2px 0 2px;
  cursor: pointer;
}

.message-timestamp button:hover {
  color: #0056b3;
  text-decoration: underline;
}

.input-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}