.highlights-timeline-container {
    position: relative;
    width: 100%;
    height: 50px;
    border: 3px solid #ccc;  
    border-radius: 10px;
}
  
  .timeline {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .timeline-bar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #ddd;
    height: 3px;
    width: 100%;
    border-radius: 5px;
  }
  
  .timeline-marker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .timeline-marker::before {
    content: "";
    display: block;
    width: 3px;
    height: 25px;
    background: #4CAF50;
    transform: translateX(-50%);
    transition: width 0.2s;
    transition: height 0.2s;
  }
  
  .timeline-marker:hover::before {
    width: 10px;
    height: 40px;
    background: #45a049;
  }
  