.transcription-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.transcription-modal-content {
  background: #fff;
  width: 75%;
  max-width: 500px;
  max-height: 80%;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  overflow-y: auto;
  position: relative;
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #999;
  z-index: 10;
}

.transcription-modal-content h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  font-size: 1.2rem;
}

.transcription-modal-content p {
  padding-bottom: 5px;
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #3333332f;
}

.timestamp-button-modal {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  padding: 8px 8px 0 0;
  font-weight: bold;
  font-size: 1rem;
}

.timestamp-button:hover {
  text-decoration: underline;
}
