.training-video-container {
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
  border-radius: 15px;
}

.training-video-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}

.title-with-dot {
  display: flex;
  align-items: center;
}

.orange-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ffa500;
  border-radius: 50%;
  margin-right: 8px;
}

.training-video-header h2 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.training-video-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.choose-button-icon {
  width: 22px;
  height: 22px;
}

.choose-button,
.transcription-button,
.demo-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #818181;
  cursor: pointer;
  outline: none;
  padding: 4px 12px;
  transition: all 0.3s ease;
}

.demo-button.active {
  background-color: #ff9d00b8;
  color: #2f2f2f;
  border: none;
}

.transcription-button.active {
  background-color: #a7a9edaa;
  color: #2f2f2f;
}

.orange-divider {
  height: 3px;
  background-color: #ffa500;
  border-radius: 1px;
}

.video-area, .video-area.active {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
}

.video-placeholder {
  position: relative;
  font-size: 2.2rem;
  font-weight: bold;
  font-stretch: expanded;
  color: #a0a0a0ba;
  padding: 16px 24px;
  text-align: center;
  cursor: pointer;
}

.video-placeholder::before,
.video-placeholder::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: #b6b6b6;
  border-style: solid;
  border-width: 5px;
  border-radius: 4px;
}

.video-placeholder::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.video-placeholder::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

video {
  max-width: 1200px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.upload-progress {
  width: 80%;
  padding: 10px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.progress-fill {
  height: 100%;
  background-color: #a7a9edaa;
  transition: width 0.3s ease;
  border-radius: 15px;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .video-area.active{
    min-height: 0px;
  }

  .training-video-header {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 5px;
  }
  
  .training-video-header h2 {
    margin: 12px 0;
    font-size: 1.1rem;
  }
  
  .training-video-buttons {
    width: 90%;
  }
  
  .choose-button-icon {
    width: 20px;
    height: 20px;
  }
  
  .choose-button,
  .transcription-button,
  .demo-button {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-size: 0.8rem;
    padding: 6px 12px;
    border-radius: 12px;
  }

  video {
    border-radius: 15px;
  }
}