.auth-container {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.wave-background svg {
  position: absolute;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.auth-content {
  margin-top: 90px;
  position: relative;
  z-index: 10;
  background: transparent;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 0;
  animation: fadeInZoom 1s ease-in-out forwards;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInZoomPAC {
  from {
    transform: translateY(-20px) scale(0.85);
  }
  to {
    transform: translateY(0) scale(1);
  }
}

.auth-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.auth-content h1 {
  border: 5px solid #4e0487ba;
  border-radius: 200px;
  padding: 25px;
  font-size: 3rem;
  color: #4e0487ba;
  animation: fadeInZoomPAC 0.7s ease-in-out forwards;
}

.auth-content h2 {
  margin-bottom: 1rem;
}

.auth-content .error {
  color: red;
}

.role-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: #4e0487ba;
}

.role-section input[type="radio"] {
  display: none;
}

.role-section span {
  font-weight: 600;
  margin-right: 1rem;
}

.role-section label {
  position: relative;
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  user-select: none;
  background-color: white;
  color: #555;
  border: 2px solid transparent;
}

.role-section label:hover {
  background-color: #eaeaea;
}

.role-section input[type="radio"]:checked[value="parent"] + label {
  background-color: #5030e5;
  color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 123, 255, 0.4);
}

.role-section input[type="radio"]:checked[value="professional"] + label {
  background-color: #ff9226;
  color: #fff;
  box-shadow: 0px 3px 8px rgba(255, 90, 95, 0.4);
}

.role-section input[type="radio"]:checked + label {
  transform: scale(1.05);
}
.input-box {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #5030e5;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}

.auth-content .toggle-auth {
  cursor: pointer;
  color: #5030e5;
  margin: 1rem 0 0 0;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 200px;
}

.guest-button {
  background: none;
  color: #5030e5;
  border: 1px solid #5030e5;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
  transition: 0.3s;
}

.guest-button:hover {
  background: #5030e5;
  color: #fff;
}

.guest-warning {
  margin-top: 10px;
  padding: 10px;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 15px;
  color: red;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.guest-warning.show {
  opacity: 1;
  visibility: visible;
}

.continue-button {
  background: red;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.3s;
}

.continue-button:hover {
  background: darkred;
}

@media (max-width: 1023px) {
  .auth-content {
    max-width: 500px;
  }

  .auth-content h1 {
    margin-top: 30px;
    font-size: 2rem;
  }

  .input-box {
    padding: 14px;
  }

  .role-section {
    flex-direction: row;
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .logo-container img {
    width: 150px;
  }
  .auth-content {
    max-width: 100%;
    padding: 20px;
  }

  .auth-content h1 {
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 15px;
  }

  .input-box {
    padding: 12px;
  }

  .login-button button {
    font-size: 1rem;
  }

  .guest-button {
    font-size: 0.9rem;
  }

  .role-section {
    gap: 10px;
    margin: 5px -30px;
  }
}
