.home-mobile-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  background-color: #f9f9f9;
}

.mobile-content {
  margin-top: 60px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 5px;
  margin-bottom: 70px;
  transition: margin-top 0.3s ease-in-out;
}

.chat-container-mobile,
.diagram-container-mobile,
.review-container-mobile {
  height: 100%;
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out;
}
