.main-wrapper {
  display: flex;
  overflow: hidden;
  margin: 0 25px 25px 0;
}

.content-container {
  display: flex;
  flex: 1;
  padding-left: 25px;
  flex-direction: column;
  overflow: hidden;
}
