/* MainContainer.css */
.main-wrapper {
  display: flex;
  overflow: hidden; /* so the sidebar + content are on one row */
}

.content-container {
  display: flex;
  flex:1;
  padding-left: 25px;
  flex-direction: column;
  overflow: hidden;
}