.main-wrapper {
  display: flex;
  overflow: hidden;
  margin: 0 25px 25px 0;
}

.content-container {
  display: flex;
  flex: 1;
  padding-left: 25px;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 767px) {
  .main-wrapper {
    width: 100%;
    display: flex;
    overflow: hidden;
    margin: 0;
  }
  
  .content-container {
    width: 100%;
    display: flex;
    flex: 1;
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
  }
}