.process-diagram-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.process-diagram-container.uploaded {
  justify-content: flex-start;
}

.process-illustration-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.process-diagram {
  width: 100%;
  border-radius: 10px;
}

.pulsating-circle {
  position: absolute;
  width: 35%; 
  height: 12%;
  border-radius: 10px;
  background-color: transparent;
  transform: translate(-50%, -50%);
  animation: pulse-border 1s infinite;
  pointer-events: none;
}

.pulsating-circle.correct {
  border: 3px solid rgb(16, 164, 0);
}

.pulsating-circle.error {
  border: 3px solid rgb(255, 0, 0);
}
@keyframes pulse-border {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}